<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>p.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpro</servlet-name>
        <servlet-class>p.addpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updpro</servlet-name>
        <servlet-class>p.updpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewexppro</servlet-name>
        <servlet-class>p.viewexppro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rempro</servlet-name>
        <servlet-class>p.rempro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>p.addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remcart</servlet-name>
        <servlet-class>p.remcart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpro</servlet-name>
        <url-pattern>/addpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpro</servlet-name>
        <url-pattern>/addpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updpro</servlet-name>
        <url-pattern>/updpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewexppro</servlet-name>
        <url-pattern>/viewexppro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rempro</servlet-name>
        <url-pattern>/rempro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remcart</servlet-name>
        <url-pattern>/remcart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
