/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Jan, 2018, 4:18:00 PM
    Author     : student
*/

.jumbotron{
    background-color: #5cb85c;
    color: #fff;
    margin-bottom: 0;
}
.navbar{
      margin-bottom: 0;
      border-radius: 0;
}
.carousel-inner{
    height: 400px;
}
#m,#l,#k,#e,#h,#s{
    padding-left: 10px;
    padding-top: 50px;
    height: 700px;
    background-color: #34ce57;
}
#l,#e,#s{
    background-color: #b1dfbb;
}
#d13{
    position: relative;
    float: right;
}
#d12{
    position: relative;
}
#d11{
    position: relative;
    float: left;
}
#d1{
    position: relative;
    padding-bottom: 50px;
    background-color: #34ce57;
}